<%

cards = [2,3,4,5,6,7,8,9,10,"ace","jack","king","queen"]
suits = ["clubs","diamonds","hearts","spades"]

card1 = "#{cards.sample}_of_#{suits.sample}"
card2 = "#{cards.sample}_of_#{suits.sample}"
card3 = "#{cards.sample}_of_#{suits.sample}"
card4 = "#{cards.sample}_of_#{suits.sample}"
card5 = "#{cards.sample}_of_#{suits.sample}"


total = card1+card2
%>

<h1>Pick two cards </h1>
<p>
    <img src="/images/cards/<%= card1%>.svg">
    <img src="/images/cards/<%= card2%>.svg">
    <img src="/images/cards/<%= card3%>.svg">
    <img src="/images/cards/<%= card4%>.svg">
    <img src="/images/cards/<%= card5%>.svg">

</p> 
<p> 

</p>
<p>
    <a href="/dice">Deal Again!</a>
</p>